All Jobs for <strong><%= @company.name %></strong>


  <% @company.jobs.each do |job| %>
  <div class="jobs">
    <ul><%= job.title %></ul>
    <%= link_to "Delete Job", company_job_path(@company, job), method: :delete %>
  </div>
  <% end %>
